
    <h1>Главная страница</h1>


    <p>Научно-образовательный центр социально-экономических технологий (НОЦСЭТ) создан для достижения образовательных и научных целей, в том числе для удовлетворения образовательных и профессиональных потребностей, профессионального развития человека, обеспечения соответствия его квалификации меняющимся условиям профессиональной деятельности и социальной среды.</p>
    <p>НОЦСЭТ является Центром повышения квалификации и профессиональной переподготовки и осуществляет свою деятельность в основном в Тюмени и Тюменской области. Центр также осуществляет профессиональное обучение по программам профессиональной подготовки по профессиям рабочих и должностям служащих. НОЦСЭТ представляет собой платформу для всестороннего профессионального развития: от курсов для педагогов дошкольного и общего образования, до курсов для будущих менеджеров, специалистов в сфере закупок, бухгалтеров и экономистов, специалистов по охране труда и др. На выбор представлены десятки программ – как очных и заочных, так и смешанных, с каждой из которых можно подробно ознакомиться в разделе “Образование”.</p>    
    <p>По окончанию обучения слушателям выдаются документы об образовании установленного образца, подтверждающие получение новой квалификации, новой профессии или прохождение программы повышения квалификации. </p>
